 body {
            margin: 0;
            
             font-family: "Montserrat Alternates", sans-serif;
            font-weight: 100;
            font-style: normal;
            --width-photo: 60%;
        }
.gamename {
    margin-top: 200px;
    margin-bottom:  00px;
    display: inline;
    transition: 1.5s;
    justify-content: center;
    margin-left: 10%;
}
.p {
    
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: normal;
}
#more {display: none;}
.myBtn{
    margin-left: 80%;
    cursor: pointer;
    margin-left: 75%;
    display: block;
    height: 40px;
    width: 130px;
    text-decoration: none;
    border-bottom: 9px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-color: #ff8e2b;
    background-color: #ff8e2b;
    color: #ffffff;

     
             font-family: "Montserrat Alternates", sans-serif;
            font-weight: 900;
            font-style: normal;
}

.gameabout, #more {
    max-width: 70%;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
    font-size: 32px;
    margin-bottom: 130px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.gamepicture12 {
    display: flex;
    width: 80%;
    margin: auto 5% auto 5%;

}
 #pic1, #pic2, #pic3, #pic4 {
    width: var(--width-photo);
    justify-content: center;
}
#pic3, #pic4 {
    padding-top: 200px;
    height: 200%;
    padding-bottom: 100px;
}
#pic1, #pic2 {
    margin-left: 0%;
    margin-right: 0%;
    height: 432px;
}

.us_mini_button {
  position: absolute;
    margin-top: 0;
     margin-bottom: 330px;
     margin-left: 60%;
     padding-bottom: 200px;
     
    }
.team_mini_button {
    position: absolute;
    margin-right: 70%;
    margin-bottom: 300px;

  
}
#gamename3 {
    position: absolute;
    margin-top: 0px;
    margin-left: 5%;
}
#symbiosys {
    margin-bottom: 0;
}
#pic1, #pic3{
    padding-right: 7%;
 }
@media screen and (max-width: 768px) {
    #pic3, #pic4 {
    padding-top: 0px;
   
}
#gamename3 {
    margin-left: 45%;
    margin-top: 200px;
}
    .us_mini_button img {
        width: 200px;
    position: absolute;
    margin-top: 0;
     margin-bottom: 330px;
     margin-left: 60%;
     padding-bottom: 200px;
     
    }
    .team_mini_button img{
    width: 200px;
    position: absolute;
    margin-right: 70%;
    margin-bottom: 300px;

  
}
    .gameabout{
        font-size: 24px !important;
    }
    .gamepicture12 {
  display: flex;
  flex-direction: column;
  margin: auto 10% auto 10%;
}
   #pic1, #pic2, #pic3, #pic4{
  
 
  width: 100%;
  height: auto;
}
 #pic1, #pic3{
    padding-bottom: 10%;
 }

    
}
@media  screen and (max-width: 1115px) {
     .us_mini_button img {
        width: 300px;
    position: absolute;
    margin-top: 0;
     margin-bottom: 330px;
     margin-left: 60%;
     padding-bottom: 200px;
     
    }
    .team_mini_button img{
    width: 300px;
    position: absolute;
    margin-right: 70%;
    margin-bottom: 300px;

  
}
    
}
@media  screen and (min-width:769px) {
    #pic2 {
    margin-left: 0%;
    margin-right: 0%;
    width: 80%;
}
.gamepicture12{
    margin-right: 6%;
    
}
#pic3, #pic4{
     width: 45vw;;
  height: auto;
}
#pic1, #pic2{
  
  width: 40vw;;
  height:auto;
 
}
#gamename3 {
    height: 300px;
    width: auto;
    margin-top: 50px;
}

}
